---
import clsx from 'clsx';

import BaseHead from '@/components/BaseHead.astro';
import Footer from '@/components/Footer.astro';
import Header from '@/components/Header.astro';
import { Snackbar } from '@/components/Snackbar';
import { CONFIG } from '@/config';

export interface BaseProps {
  title?: string;
  description?: string;
  image?: string;
}

const { SITE_DESCRIPTION, SITE_TITLE } = CONFIG;

const { title, description = SITE_DESCRIPTION, image } = Astro.props as BaseProps;
const titleTag = title ? `${title} • ${SITE_TITLE}` : SITE_TITLE;
---

<html class="scroll-pt-8 scroll-smooth md:scroll-pt-16" lang="en">
  <BaseHead title={titleTag} description={description} image={image} />
  <body
    class={clsx(
      'flex flex-col min-h-screen',
      'bg-base-100',
      'transition-colors duration-500',
      'selection:bg-purple-400/60 dark:selection:bg-purple-400/80 dark:selection:text-slate-950'
    )}
  >
    <Header />
    <slot />
    <Footer />
    <Snackbar client:idle />
  </body>
</html>
