---
import { getAllPosts, getSortedUniqueCategoriesWithCount } from '@/modules/post';
import List from '@/layouts/List.astro';
import Link from '@/components/Link.astro';
import { ROUTES } from '@/constants/routes';

import type { Metadata } from '@/types/common';

const posts = await getAllPosts();
const categoriesWithCount = getSortedUniqueCategoriesWithCount(posts);
const metadata: Metadata = { title: 'Categories' };
---

<List {metadata}>
  <section>
    <ul class="flex flex-wrap gap-2">
      {
        categoriesWithCount.map(({ category, count }) => (
          <li>
            <Link href={`${ROUTES.CATEGORIES}${category}`}>{`${category}(${count})`}</Link>
          </li>
        ))
      }
    </ul>
  </section>
</List>
