---
import { getAllPosts, getCategoryLinks, getSortedUniqueCategoriesWithCount } from '@/modules/post';
import List from '@/layouts/List.astro';
import CategoryCard from '@/components/CategoryCard.astro';
import FilterList from '@/components/FilterList.astro';
import { pageMetadata } from '@/constants/metadata';
import { getDefaultOpenGraphImagePath } from '@/utils/paths';

import type { FilterLink } from '@/modules/post';
import type { Metadata } from '@/types/common';

const posts = await getAllPosts();
const categoryLinks = getCategoryLinks(posts);

const path = 'lists/blog/categories';
const image = getDefaultOpenGraphImagePath(path);
const metadata: Metadata = { ...pageMetadata[path], image };
---

<List {metadata}>
  <section>
    <FilterList class="mb-4" itemLinks={categoryLinks}>
      {
        ({ href, text, textWithCount }: FilterLink) => (
          <CategoryCard href={href} category={text}>
            {textWithCount}
          </CategoryCard>
        )
      }
    </FilterList>
  </section>
</List>
