---
import { getCategoryLinks } from '@/modules/post/category';
import { getAllPosts } from '@/modules/post/common';
import List from '@/layouts/List.astro';
import CategoryCard from '@/components/CategoryCard.astro';
import FilterList from '@/components/FilterList.astro';
import { getPageMetadata } from '@/utils/metadata';

import type { FilterLink } from '@/types/post';

const posts = await getAllPosts();
const categoryLinks = getCategoryLinks(posts);

const metadata = getPageMetadata('lists/blog/categories');
---

<List {metadata}>
  <section>
    <FilterList class="mb-4" itemLinks={categoryLinks}>
      {
        ({ href, text, textWithCount }: FilterLink) => (
          <CategoryCard href={href} category={text}>
            {textWithCount}
          </CategoryCard>
        )
      }
    </FilterList>
  </section>
</List>
