---
import Link from '@/components/Link.astro';
import { formatDate, formatDateIso } from '@/utils/datetime';

interface RequiredProps {
  file: string;
  publishDate: Date;
  updatedDate: Date;
  readingTime: number;
}

export interface Props extends Partial<RequiredProps> {}

const { file, publishDate, updatedDate, readingTime } = Astro.props as Props;

const shouldDisplay = Object.values(Astro.props).some(Boolean);
---

{
  shouldDisplay && (
    <aside
      aria-label="Page information"
      class="not-prose prose-sm mb-8 rounded-lg border border-slate-200 bg-slate-100 p-4 transition-colors duration-500 dark:border-slate-800 dark:bg-slate-900"
      transition:animate="fade"
    >
      <ul class="flex flex-row flex-wrap justify-between gap-4 text-blue-900 dark:text-blue-100">
        {publishDate && (
          <li>
            <b class="me-2 inline-block">Published:</b>
            <time itemprop="datePublished" datetime={formatDateIso(publishDate)}>
              {formatDate(publishDate)}
            </time>
          </li>
        )}
        {updatedDate && (
          <li>
            <b class="me-2 inline-block">Last updated:</b>
            <time itemprop="dateUpdated" datetime={formatDateIso(updatedDate)}>
              {formatDate(updatedDate)}
            </time>
          </li>
        )}
        {readingTime && (
          <li>
            <b class="me-2 inline-block">Reading time:</b> {Math.round(readingTime)} minutes
          </li>
        )}
        {file && (
          <li>
            <Link href={`https://github.com/nemanjam/nemanjam.github.io/tree/main/${file}`}>
              Source
            </Link>
          </li>
        )}
      </ul>
    </aside>
  )
}
