---
import { createMarkdownProcessor } from '@astrojs/markdown-remark';
import { Image } from 'astro:assets';

import { getPostSlug } from '../modules/blog-post';
import { dateFormatter } from '../utils/datetime';
import Link from './Link.astro';
import Prose from './Prose.astro';

import type { MarkdownProcessorRenderResult } from '@astrojs/markdown-remark';
import type { CollectionEntry } from 'astro:content';

export interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const {
  draft,
  pubDate,
  title,
  heroImage,
  heroAlt,
  category,
  tags = [],
  description = '',
} = post.data;

const { render: renderMarkdown } = await createMarkdownProcessor({});
const renderedDescription: MarkdownProcessorRenderResult = await renderMarkdown(description);

const slug = getPostSlug(post);
const date = dateFormatter(new Date(pubDate));

// image
// date, category
// title
// desription
// tags
---

<article class="flex gap-4 flex-col sm:flex-row">
  {/* left column */}

  {/* image */}
  {
    heroImage && (
      <div>
        <Image
          src={heroImage}
          alt={heroAlt ?? ''}
          width={640}
          itemprop="image"
          class="w-full"
          transition:name={`hero-${heroImage.src}`}
        />
      </div>
    )
  }

  {/* right column */}
  <div class="flex flex-col">
    {/* date, category */}
    <div class="flex items-center gap-2">
      <time
        class="text-right leading-8 text-slate-600 dark:text-slate-300"
        datetime={pubDate.toISOString().split('T')[0]}
        itemprop="datePublished"
      >
        {date}
      </time>
      {category && <Link href="#">{category}</Link>}
    </div>

    {/* title */}
    <Link href={slug} itemprop="url">
      <h2
        class="text-2xl font-bold flex gap-2"
        itemprop="name headline"
        transition:name={`title-${slug}`}
      >
        <span>{title}</span>
        {draft && <sup class="text-sm text-red-400">(draft)</sup>}
      </h2>
    </Link>

    {/* description */}
    <div transition:name={`content-${slug}`}>
      <Fragment set:html={renderedDescription.code} />
    </div>

    {/* tags */}
    <div class="flex flex-wrap gap-2">
      {tags.map((tag) => <Link href="#">#{tag}</Link>)}
    </div>
  </div>
</article>
