---
import { ROUTES } from '../constants/routes';
import Aside from './Aside.astro';
import Link from './Link.astro';
import { Share, ShareLink } from './Share';

export interface Props {
  title: string;
  slug: string;
}

const { title, slug } = Astro.props;
---

<Aside title="Share your thoughts">
  <div class="flex flex-col items-start gap-x-4 gap-y-0 sm:flex-row-reverse">
    <div class="mt-4 justify-self-center">
      <div class="w-28"><Share client:load title={title} url={`${ROUTES.BLOG}${slug}/`} /></div>
    </div>
    <p class="!mb-1 inline-flex shrink flex-wrap gap-x-1">
      Since you’ve made it this far, hopefully you enjoyed reading! Please
      <ShareLink client:load title={title} url={`${ROUTES.BLOG}${slug}/`}>share</ShareLink>
      {' '}the post or <Link
        href="https://mstdn.io/@paularmstrong"
        target="_blank"
        rel="noopener noreferrer"
      >
        ping me on Mastodon
      </Link>
    </p>
  </div>
</Aside>
