---
import { ViewTransitions } from 'astro:transitions';

import { CONFIG } from '@/config';

import '@fontsource-variable/inter/index.css';
import '@/styles/main.css';

import { DEFAULT_METADATA } from '@/constants/metadata';
import { filterUndefined } from '@/utils/objects';
import { trimHttpProtocol } from '@/utils/strings';

import type { Metadata } from '@/types/common';

const { SITE_URL } = CONFIG;
const domain = trimHttpProtocol(SITE_URL);

export interface BaseHeadProps {
  metadata: Metadata;
}

// set defualt here
const { metadata } = Astro.props as BaseHeadProps;

const filteredMetadata = filterUndefined(metadata);
const mergedMetadata = { ...DEFAULT_METADATA, ...filteredMetadata };

const { title, description, image } = mergedMetadata;
---

<head>
  {/* Global Metadata */}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <meta name="theme-color" content="#c1ddf9" media="(prefers-color-scheme: light)" />
  <meta name="theme-color" content="#0f172a" media="(prefers-color-scheme: dark)" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href={`${SITE_URL}/images/favicons/apple-touch-icon.png`}
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href={`${SITE_URL}/images/favicons/favicon-32x32.png`}
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href={`${SITE_URL}/images/favicons/favicon-16x16.png`}
  />
  <link rel="manifest" href={`${SITE_URL}/manifest.json`} />

  {/* Primary Meta Tags */}
  <title>{title}</title>
  <meta name="title" content={title} />
  <meta name="description" content={description} />

  {/* Feeds */}
  <link
    rel="alternate"
    type="application/rss+xml"
    title={`RSS feed for ${domain}`}
    href={`${SITE_URL}/feed.xml`}
  />
  <link
    rel="alternate"
    type="application/json"
    title={`JSON feed for ${domain}`}
    href={`${SITE_URL}/feed.json`}
  />
  <link
    rel="sitemap"
    type="application/xml"
    title="Sitemap"
    href={`${SITE_URL}/sitemap-index.xml`}
  />

  {/* Open Graph / Facebook */}
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={new URL(image, Astro.url)} />

  {/* Twitter */}
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={new URL(image, Astro.url)} />

  {/* Analytics */}
  <!-- 
  <link rel="preconnect" href="set-url-here" />
  <script async data-goatcounter="set-url-here" src="set-url-here"></script>
  <script src="set-url-here" crossorigin="anonymous"></script>
 -->

  <ViewTransitions fallback="none" />
</head>
