---
import Button from '@/components/Button.astro';
import Link from '@/components/Link.astro';
import { ROUTES } from '@/constants/routes';
import { cn } from '@/utils/styles';

import type { Filter } from '@/modules/post';

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  items: Filter[];
  type: 'tags' | 'categories';
}

const { items = [], type, class: className, ...props } = Astro.props;
const itemLinks = items.map((item) => {
  const pathSegment = type === 'tags' ? ROUTES.TAGS : ROUTES.CATEGORIES;
  const itemText = type === 'tags' ? `#${item.text}` : item.text;

  const link = {
    href: `${pathSegment}${item.text}`,
    text: `${itemText}(${item.count})`,
  };

  return link;
});
---

{
  itemLinks.length > 0 && (
    <ul {...props} class={cn('flex flex-wrap gap-2', className)}>
      {itemLinks.map(({ href, text }) => (
        <li class="inline-block">
          <Link href={href}>{text}</Link>
        </li>
      ))}
    </ul>
  )
}
