---
import { Icon } from 'astro-icon/components';

import Link from '@/components/Link.astro';
import { ROUTES } from '@/constants/routes';
import { CONFIG_CLIENT } from '@/config/client';
import { trimHttpProtocol } from '@/utils/strings';

const { SITE_URL, AUTHOR_LINKEDIN, AUTHOR_GITHUB, AUTHOR_NAME } = CONFIG_CLIENT;
const domain = trimHttpProtocol(SITE_URL);
const year = new Date().getFullYear();

---

<footer class="border-t border-base-300 py-8 px-4">
  <div class="max-w-6xl md:mx-auto flex justify-center md:justify-start">
    <div class="flex justify-between gap-4 flex-col-reverse md:flex-row md:w-full">
      <!-- left column -->
      <div class="flex items-center gap-2 flex-wrap text-sm text-content whitespace-nowrap">
        <div class="flex items-center gap-2">
          <p>© Copyright {year} · Marc Andreu · All rights reserved.</p>
        </div>
        
      </div>

      <!-- right column -->
      <ul class="flex gap-2 flex-wrap xs:flex-nowrap lg:items-center">
        <li>
          <Link
            href={AUTHOR_GITHUB}
            target="_blank"
            rel="me noreferrer noopener"
            title=`${AUTHOR_NAME} on GitHub`
            class="flex items-center gap-2 text-base xs:text-lg"
            variant="link-nav"
          >
            <Icon name="mdi:github" class="h-6 w-6 fill-current" />
            <span>Github</span>
          </Link>
        </li>
        <li>
          <Link
            href={AUTHOR_LINKEDIN}
            target="_blank"
            rel="me noreferrer noopener"
            title=`${AUTHOR_NAME} on Linkedin`
            class="flex items-center gap-2 text-base xs:text-lg"
            variant="link-nav"
          >
            <Icon name="mdi:linkedin" class="h-6 w-6 fill-current" />
            <span>LinkedIn</span>
          </Link>
        </li>
        <li>
          <Link
            href={ROUTES.API.FEED_RSS}
            title={`RSS feed for ${domain}`}
            class="flex items-center gap-2 text-base xs:text-lg"
            variant="link-nav"
          >
            <Icon name="mdi:rss" class="h-6 w-6 fill-current" />
            <span>RSS Feed</span>
          </Link>
        </li>
      </ul>
    </div>
  </div>
</footer>
