---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';

import { getPublishedOrUpdatedDate } from '@/modules/common';
import Link from '@/components/Link.astro';
import { ROUTES } from '@/constants/routes';
import { formatDate, formatDateIso } from '@/utils/datetime';
import { cn } from '@/utils/styles';

import type { Post } from '@/types/post';
import type { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'article'> {
  post: Post;
}

const { post, class: className } = Astro.props;
const { data, slug } = post;
const { title, heroImage, heroAlt, description, publishDate, updatedDate, tags } = data;

const { lastAccessDate, isUpdatedDate } = getPublishedOrUpdatedDate({
  publishDate,
  updatedDate,
});
---

<article
  class={cn(
    'flex flex-col xs:flex-row gap-2',
    'not-first:pt-2 not-last:pb-2',
    'not-last:border-b border-base-300',
    className
  )}
>
  <Image
    src={heroImage}
    alt={heroAlt}
    width="142"
    height="80"
    class="object-cover rounded-box hidden xs:block"
  />
  <div>
    <h4 class="text-xl line-clamp-1 leading-none mb-1">
      <Link variant="link-heading" href={`${ROUTES.BLOG}${slug}`}>
        {title}
      </Link>
    </h4>
    {description && <p class="text-base text-captions line-clamp-1 mb-2">{description}</p>}
    <span class="inline-flex items-center gap-1 text-sm text-captions text-nowrap">
      <Icon name={isUpdatedDate ? 'mdi:edit-outline' : 'mdi:access-time'} class="w-4 h-4" />
      <time itemprop="datePublished" datetime={formatDateIso(lastAccessDate)}>
        {formatDate(lastAccessDate)}
      </time>
    </span>
  </div>
</article>
