---
import Tag from '@/components/Tag.astro';
import { ROUTES } from '@/constants/routes';
import { cn } from '@/utils/styles';

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  tags: string[];
  marginY?: boolean;
  tagClass?: string;
}

const { tags = [], marginY = false, class: className, tagClass, ...props } = Astro.props;
const tagLinks = tags.map((tagItem) => ({ href: `${ROUTES.TAGS}${tagItem}`, text: `#${tagItem}` }));
---

{
  tagLinks.length > 0 && (
    <ul {...props} class={cn('flex flex-wrap gap-2', className)}>
      {tagLinks.map(({ href, text }) => (
        <li>
          <Tag href={href} class={tagClass}>
            {text}
          </Tag>
        </li>
      ))}
    </ul>
  )
}
